@model Videly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>

<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Release Date: @Model.ReleaseDate.ToString("dddd, dd MMMM yyyy")</li>
    <li>Date Added: @Model.DateAdded.ToString("dddd, dd MMMM yyyy")</li>
    <li>Number in Stock: @Model.NumberInStock</li>
</ul>